<h2>Registro de usuario</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, :label => "Nombre de usuario", autofocus: true %>

  <%= f.input :email%>

  <%= f.input :password, :label => "Contraseña" %>

  <%= f.input :password_confirmation, :label => "Confirmar Contraseña" %>

  <div class="actions">
    <%= f.submit "Registro",:class=> "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
